.App {
    position: relative;
    background: url('../../images/form/form.jpg');
    background-size: cover;
    height: 680px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .window {
    position: absolute;
    background: #13287e;
    border-radius:20px; 
    height: 470px;
    width: 370px;
    margin-top: 80px;
    margin-left: 950px;
    padding-bottom: 40px;
  }
  
  .input {
    margin-top:40px;
    margin-left: 35px;
    height: 10px;
    width: 300px;
    border-radius: 50px;
    outline: none;
    padding: 15px;
    font-size: 15px;
    border:none;
  }
  
  .text {
    height: 40px;
    width: 300px;
    border-radius:10px; 
    margin-left: 35px;
    margin-top: 40px;
    font-size: 15px;
    outline:none;
    padding: 15px;
    padding-bottom: 25px;
    border:none;
  }
  
  .button {
    width: 300px;
    margin-left: 35px;
    margin-top: 40px;
    height: 45px;
    border-radius:20px;
    outline:none;
    background: transparent;
    color:#fff;
    border: 2px solid;
    border-color:#fff;
    font-size:bolder;
    cursor: pointer;
    transform: 10px;
  }

  .button:hover {
    background: rgb(106, 108, 243);
    transition: 0.3s;
  }