.images-text-home-houskeeper {
  background-image: url(https://st2.depositphotos.com/1010613/8611/i/450/depositphotos_86111626-stock-photo-female-housekeeper-cleaning-floor-with.jpg);
  padding: 12%;
  font-size: 50px;
  color: rgb(108, 119, 119);
  font-weight: 700;
  border-radius: 50px;
} 