.image-home-5{
  padding: 20%;
  position: relative;
  background: transparent;
  overflow: hidden;
}

.image-home-5::after {
  content: '';
  background-image: url('../../images/images-home/sale.jpg');
  padding: 30%;
  width: 100%;
  position: absolute;
  top: -1%;
  left: 0;
  background-size: cover;
  height: 100%;
}

.basic-home-5 {
  display:flex; 
}

.h3-home-5{
  color: rgb(31, 44, 85);
  padding: 10px 10px 10px 10px;
  font-size: 39px;
  text-align: center;
}

.h5-home-5 {
  font-size: 20px;

}

.h5-home-5 a {
  color:blue;
  font-size: 20px;
  text-decoration: none;
}

.h5-home-5 a:hover {
  color:gray;
}

.vertical-menu-5 {
  color:blue;
  width: 24.3%;
  margin: 100px 40px 0px 40px;
  padding-left: 10px;
}

.vertical-menu-5 a {
  color:#247ffb;
  display: flex;  
  text-decoration: none;
  font-size: 18px;
}

.li-home-5:hover {
  color:rgb(23, 49, 134);
}

.li-home-5{
  margin-left:20px; 
}

.home-content-5 {
  margin-left: 8px;
  margin-right: 50px;
}

.H32-home-5 {
  color:blue;
}

.H32-home5-5 {
  color:black;
}

.b-table-5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  background-color: rgb(72, 110, 235);
  position: relative;
  margin-top:20px;
  margin-left:0;
  width: 80%;
  color: white;
}

.b-table-5-child {
  justify-items: center;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 19px;
}