.view {
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #4EA3DA;
    position: relative;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html,
body,
header,
.view {
  height: 100%;
}